.characters_figure h2 {
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
}

.characters_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem;
}