* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
 /*TODO: Ver Cual diseño de boton me conviene :3*/
button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f2f7f5;
  color: #00473e;
}

h1, h2, h3, h4 {
  color: inherit;
  font-weight: bold;
}

